#order-radio {
  border: none;
  display: grid;
  grid-template-columns: 100%;
}

.order {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
}

.input-div {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

select {
  font-size: 18px;
  display: block;
}

.button {
  margin-top: 20px;
  grid-column-start: span 2;
}

.tasks {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 25% 25% 25% 10% 15%;
  width: 700px;
  margin-top: 50px;
}

p {
  margin-top: 50px;
}
